.contactFormContainer {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.contactFormLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contactFormField {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.errorText {
    color: red;
    margin-bottom: 10px;
}

.contactList {
    display: flex;
    margin: 0px;
    padding: 0;
    flex-direction: block;
}

.contactList :first-child {
    margin-left: 0px;
}

.contactList :last-child {
    margin-right: 0px;
}